<h2 class="content-block">ვიზიტები</h2>
<label for="filterText">ფილტრი: </label>
<input [(ngModel)]="filter" type="text" name="filterText">
<div id="mainDiv">
<div *ngIf="FilteredData.length> 0">
  <div class="tabDiv" (click)="visitClick()" *ngFor="let visit of FilteredData">
      <div class="clientAdressDiv">
          <p id="nameP">{{visit.Accnu}}</p>
          <p id="adressP">{{visit.Address}}</p>
      </div>
      <div class="otherInfoDiv">
          <p>შეკვეთები: 
              <a class="otherInfoP">{{visit.Ordsuccess}}/{{visit.Ordn}}</a>
          </p>
          <p>დაბრუნებები: 
              <a class="otherInfoP">{{visit.Retsuccess}}/{{visit.Retn}}</a>
          </p>
          <p>თანხა: 
              <a class="otherInfoP">{{visit.Payedcash}}/{{visit.Collectpay}}</a>
          </p>
      </div>
  </div>
</div>
<div *ngIf="FilteredData.length === 0">
    Loading data...
</div>
</div>


 


  
