<h2 class="content-block">ვიზიტები</h2>
<div id="mainDiv">
  <div class="tabDiv" *ngFor="let visit of dummyData">
      <div class="clientAdressDiv">
          <p id="nameP">{{visit.Accnu}}</p>
          <p id="adressP">{{visit.Address}}</p>
      </div>
      <div class="otherInfoDiv">
          <p>Orders: 
              <a class="otherInfoP">{{visit.Ordsuccess}}/{{visit.Ordn}}</a>
          </p>
          <p>Returns: 
              <a class="otherInfoP">{{visit.Retsuccess}}/{{visit.Retn}}</a>
          </p>
          <p>Cash: 
              <a class="otherInfoP">{{visit.Paydcash}}/{{visit.Collectpay}}</a>
          </p>
      </div>
  </div>
</div>


 


