<h2 class="content-block">Tasks</h2>



<dx-data-grid class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="true"
  [focusedRowEnabled]="false"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  >

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  
  <dxo-toolbar>
    <dxi-item
    widget="dxDateBox"
    [options]="dateBoxOptions"
    location="before">
      
    </dxi-item>
    
  </dxo-toolbar>
  

  <dxi-column
    dataField="Acc"
    caption="ანგარიში"
    [width]="90">
  </dxi-column>
  <dxi-column
    dataField="Accnu"
    [width]="190"
    caption="ნომერი">
  </dxi-column>
  <dxi-column
    dataField="Address"
    caption="მისამართი">
  </dxi-column>
  <dxi-column
    dataField="Ordsuccess"
    caption="შეკვეთები">
    
  </dxi-column>
  <dxi-column
    dataField="Ordn"
    caption="შეკვეთ">
  </dxi-column>
  <dxi-column
    dataField="Retsuccess"
    caption="დაბრუნება"
    dataType="number">
  </dxi-column>
  <dxi-column
    dataField="Retn"
    caption="Retn"
    dataType="number">
  </dxi-column>
  <dxi-column
    dataField="Collectpay"
    caption="Collectpay"
    dataType="number">
  </dxi-column>
  <dxi-column
    dataField="Paydcash"
    caption="Paydcash"
    dataType="number">
  </dxi-column>
  

  
</dx-data-grid>


					
