*{
    font-family: system-ui;
}

#mainDiv{
    width: 100%;
}

.tabDiv{
    display: block;
    background-color: #e4e5e9;
    transition: background-color 0.2s ease-in-out;
    border-top: rgb(156, 153, 153) 1px solid;
    border-bottom: rgb(156, 153, 153) 1px solid;
    cursor: pointer;
}

.tabDiv:hover{
    background-color: #dfe0e4;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

.tabDiv > * {
    padding: 5px 1px;
}

p{
    margin: 4px;
    color: black;
}

#nameP{
    font-weight: bold;
    font-size: 1.15rem;
}

#adressP{
    font-size: 1rem;
    font-weight: 500;
}

.otherInfoDiv{
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}

.otherInfoDiv > *{
    margin: 4px;
}

.otherInfoDiv{
    p{
        font-size: 0.75rem;
    }
}

.otherInfoP{
    font-size: 1.03rem;
    font-weight: 500;
}