<div class="main">
    <div class="titleDiv">
        <p id="title">ბალანსი</p>
    </div>
    <div class="dateBoxDiv">
        <!-- <dx-date-box
        id="start"
        type="date"
        [(value)]="dateStart"
        (onValueChanged)="dateValueChanged($event)"
        [acceptCustomValue]="false"
        >
        </dx-date-box>
        <dx-date-box
        id="end"
        type="date"
        [(value)]="dateEnd"
        (onValueChanged)="dateValueChanged($event)"
        [acceptCustomValue]="false"
        >
        </dx-date-box> -->
        <app-datepicker [start_date]="dateStart" [end_date]="dateEnd" (valuesChanged)="dateValueChanged($event)">
            
        </app-datepicker>
    </div>
    <div class="dateDiv">
        
    </div>
    <div class="balanceDiv">
        <p class="balanceP">საწყისი ნაშთი: {{balanceStart}}</p>
    </div>
    <div class="container">
        <div class="tabDiv" [class.isCrTrueClass]="transaction.IsCr" (click)="tabClick()" *ngFor="let transaction of data">
            <div class="iconDiv">
                <img src="../../../assets/lari.png">
            </div>
            <div class="clientAdressDiv">
                <p class="primaryP">{{transaction.AccName + (transaction.Acc)}}</p>
                <p class="secondaryP">{{transaction.OpDetId}}</p>     <!-- {{transaction.TransactionType + (transaction.TransactionTypeNumber)}} -->
            </div>
            <div class="otherInfoDiv">
                <p class="primaryP">{{transaction.IsCr ? "-" + transaction.Vg : transaction.Vg}}₾</p>
                <p class="secondaryP">{{transaction.DateString}}</p>
            </div>
        </div>
    </div>
    <div class="balanceDiv">
        <p class="balanceP">საბოლოო ნაშთი: {{balanceEnd.toFixed(2)}}</p>
    </div>
    <dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [visible]="loading"
    [showIndicator]="true"
    [showPane]="false"
    [shading]="true"
    [hideOnOutsideClick]="false"
    >
    </dx-load-panel>
</div>

