@import "../../layouts/side-nav-outer-toolbar/side-nav-outer-toolbar.component.scss";

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$header-height});
}

.headerDiv{
    display: flex;
    flex-direction: column;
    margin: 12px;
    
}

span{
    font-size: 22px;
    font-family: "myFont";
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 1px solid white;
}

.tabDiv{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    transition: background-color 0.2s ease-in-out;
    border-top: rgb(156, 153, 153) 1px solid;
    border-bottom: rgb(156, 153, 153) 1px solid;
    cursor: pointer;
    margin: 5px auto;
    border-radius: 10px;
    height: 45px;
    width: 95%;
    overflow: hidden;
    padding: 5px;
}

.iconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainDiv{
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

dx-button{
    font-weight: bold;
    width: 200px;
    height: 60px;
    font-size: 22px;
    font-family: "myFont";
}

p{
    margin:5px;
    font-weight: bold;
    font-size: 18px;
    color:black;
    font-family: "myFont";
}