<div class="container">
    <div class="headerDiv">
      <span>ზედნადები #{{DummyData.DwaybillNumber}}</span>
      <span>შეკვეთა #{{DummyData.OrderNumber}}</span>
    </div>
  
    <div id="mainDiv">
      <div class="tabDiv" *ngFor="let product of DummyData.ProductList">
        <div class="clientAdressDiv">
          <p>{{product.Bcode}}</p>
        </div>
        <div>
          <p>{{product.ProductName}}</p>
        </div>
        <div class="iconDiv">
          <p>{{product.Amount}}</p>
        </div>
      </div>
    </div>
  
    <div class="buttonDiv">
      <dx-button type="success" stylingMode="contained" (onClick)="confirmBtnClick()">
        დადასტურება
      </dx-button>
    </div>
  </div>





  <dx-popup
  [width]="320"
  [height]="480"
  [showTitle]="true"
  titleTemplate="<div style='display: flex; justify-content: flex-start; height: 3em; align-items: center;'<span style='font-family:'myFont'; font-size:15px; font-weight:'bold';'>შეკვეთის დადასტურება</span></div>"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="false"
  container=".dx-viewport"
  [(visible)]="popupVisible"
>

  <div class="popupContentDiv">
    <div class="popupHeaderDiv">
      <span>ზედნადები #{{DummyData.DwaybillNumber}}</span>
      <span>შეკვეთა #{{DummyData.OrderNumber}}</span>
    </div>

    <dx-text-area 
    mode="text"
    class="textArea"
    height="150"
    label="კომენტარი"
    labelMode="static">
    </dx-text-area>

    <div class="payDiv">
      <label>
        თანხის აღება:
      </label>
      <dx-text-box 
      mode="number"
      width="90px">
  
      </dx-text-box>
    </div>

    <div class="popupBtnDiv">
      <dx-button
      type="success"
      stylingMode="contained"
      text="დადასტურება"
      width="120"
      height="50"
      (onClick)="confirmOrder()"
      >
      </dx-button>
  
      <dx-button
      type="normal"
      stylingMode="text"
      text="დახურვა"
      width="120"
      height="50"
      (onClick)="closePopup()"
      >
      </dx-button>
    </div>
  </div>

  
</dx-popup>


