<div id="mainDiv">
    <div class="titleDiv">
        <p id="title">პრობლემური საბუთები</p>
    </div>
    <div class="container">
        <div class="tabDiv" *ngFor="let doc of data">
            <div class="dateDiv">
                <p class="dateP">
                    {{doc.DateString ? doc.DateString : 'N/A'}}
                </p>
            </div>
            <div class="mainInfoDiv">
                <p class="primaryP">{{doc.ProblemType}}</p>
                <p class="secondaryP">{{doc.Debtor}}</p>
            </div>
            <div class="otherInfoDiv">
                <p class="primaryP" *ngIf="doc.Preseller">{{doc.Preseller}}</p>
                <p class="secondaryP" *ngIf="doc.Amount">{{doc.Amount}}₾</p>
            </div>
        </div>
    </div>
</div>
