<div id="mainDiv">
    <div class="tabDiv">
        <div class="clientAdressDiv">
            <p id="nameP">Nodar Avalishvili inc.</p>
            <p id="adressP">69th N. 5th ave New-york City</p>
        </div>
        <div class="otherInfoDiv">
            <p>Orders: 
                <a class="otherInfoP">15/34</a>
            </p>
            <p>Returns: 
                <a class="otherInfoP">15/34</a>
            </p>
            <p>Cash: 
                <a class="otherInfoP">15/34</a>
            </p>
        </div>
    </div>
</div>