<div class="container">
    <div class="headerDiv">
        <p id="orderTitle">{{this.pageType}} - {{this.visitData.Accnu}}</p>
        <dx-button 
        id="sortBtn"
        [(type)]="btnType"
        [(stylingMode)]="btnStyle"
        [(text)]="btnText"
        (onClick)="sort($event)">
            
        </dx-button>
    </div>
    
    <div id="mainDiv">
        <div *ngIf="dummyData.length === 0" class="notFoundDiv">
            მიმდინარეობს მონაცემების ჩატვირთვა...
        </div>
        <div *ngIf="dummyData.length > 0" cdkDropList (cdkDropListDropped)="onDrop($event)">                                                                    <!--  cdkDropList (cdkDropListDropped)="onDrop($event)" -->
          <div [class]="tabClassName" (click)="orderClick(order)" *ngFor="let order of dummyData" cdkDrag [cdkDragStartDelay]="1000">            <!--cdkDrag-->
              <div class="clientAdressDiv">
                  <p id="nameP">{{order.Preseller}}</p>
                  <p id="adressP">{{order.DwaybillNumber}}</p>
                  <p class="pInfo">შენიშვნა: {{order.Remark}}</p>
                  <p class="pInfo">კომენტარი: {{order.Comment}} </p>
              </div>
              <div class="iconDiv">
                <ng-container *ngIf="order.Status; then completed; else pending"></ng-container>
                <ng-template #completed>
                <img [src]="completedUrl" alt="Completed">
                </ng-template>
                <ng-template #pending>
                <img [src]="pendingUrl" alt="Pending">
                </ng-template>
              </div>
          </div>
        </div>
        <div *ngIf="dummyData.length === 0" class="notFoundDiv">
            ვიზიტები ვერ მოიძებნა...
        </div>
    </div>
</div>



