.mainDiv{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 70vh; 
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.visitHeaderDiv{
  margin: 12px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
}

header{
  font-size: 20px;
  font-weight: 500;
  color: white;
  font-family: "myFont";
}

dx-button{
  width:350px;
  height: 80px;
  margin: 15px 0px;
  font-size: 26px;
  font-family: 'MyFont';
  font-weight: bold;
}

.visitInfoDiv{
  display: flex;
  justify-content: space-between;
}

label{
  margin-right: 20px;
  font-size: 15px;
  font-family: 'MyFont';
}

.textArea{
  margin-top: 24px;
}

.popupBtnDiv{
  display: flex;
  justify-content: space-around;

}

.popupBtnDiv > * {
  font-size: 15px;
  font-family: 'MyFont';
}

.popupContentDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
}

.questionDiv{
  display: flex;
  justify-content: center;
}

#questionP{
  font-size: 22px;
  font-family: 'myFont';
}

@media only screen and (max-height: 919px) and (min-height: 675px){
  // .menuDiv{
  //     padding-top: 100px;
  // }

  dx-button{
    height: 60px;
    margin-top: 15px;
    font-size: 22px;
  }

  header{
    font-size: 20px;
  }
}

@media only screen and (min-height: 920px) and (min-width: 450px){
  dx-button{
      width:350px;
      height: 80px;
      margin-top: 15px;
      font-size: 26px;
  }

  .mainDiv{
    margin-top: 30px;
  }

  header{
    font-size: 25px;
  }
}


@media only screen and (max-width: 385px){
  dx-button{
    width:250px;
    font-size: 20px;
}


header{
  font-size: 20px;
}
}

@media only screen and (max-height: 674px){
  dx-button{
    height: 40px;
    font-size: 18px;
}

.mainDiv{
  margin-top: 20px;
}

header{
  font-size: 20px;
}
}

@media only screen and (max-height: 674px){
  dx-button{
    height: 50px;
    font-size: 16px;
    margin: 12px 0px;
  }

  .mainDiv{
    margin-top: 10px;
  }
}

@media only screen and (max-height: 573px){
  dx-button{
    height: 40px;
    font-size: 14px;
  }
}

@media only screen and (max-height: 500px){
  dx-button{
    height: 30px;
    font-size: 14px;
    margin: 9px 0px;
  }

  .mainDiv{
    margin-top: 0px;
  }
}

@media only screen and (max-width: 278px){
  dx-button{
    width: 200px;
  }
}